@use './variables.scss';

.about {
    padding: 5rem 2rem;
}

.sub {
    font-size: clamp(1.25rem, 1.0682rem + 0.9091vw, 1.75rem);
    font-weight: 600;
    max-width: 800px;
    line-height: 120%;
    padding-block: 3rem;
}

.aboutCol {
    display: grid;
    gap: 2rem;

    @media (min-width: 760px) {
        grid-template-columns: 1fr 1fr;
    }

    div:first-child {
        background: url('/images/about.png');
        min-height: 320px;
    }

    div:last-child {
        padding-block: 2rem;

        p {
            margin-bottom: 1rem;
        }
    }
}