@use './variables.scss';

.card {

    &:hover {
        .landscape {
            background-size: 150%;
        }
    }
}

.description {
    padding-inline: .5rem;

    h3 {
        font-weight: 500;
        max-width: 280px;
        margin-bottom: .5rem;
    }

    p {
        color: variables.$gray-500;
        margin-bottom: 1rem;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1px;
    }
}

.imgContainer {
    background-color: variables.$orange-400;
    margin-bottom: 1.5rem;
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.portrait {
    @media (max-width: 727px) {
        aspect-ratio: 1 / 1;
    }
    @media (min-width: 727px) {
        aspect-ratio: 2 / 2.5;
    }  
}

.landscape {
    background-size: 100%;
    background-position: center;
    transition: background-size 1s;

    @media (max-width: 670px) {
        min-height: 240px;
    }

    @media (min-width: 670px) {
        aspect-ratio: 3 / 2;
    }
}

