@use './variables.scss';

.h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    position: relative;
    width: fit-content;

    &:after {
        content: "";
        width: 60%;
        height: 2px;
        background-color: variables.$green-400;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}

// .contactForm {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/images/hero-background2.jpg');
// }

.form {
    display: grid;
    gap: 1.5rem;
    width: min(500px, 100%);
    margin: auto;

    span {
        font-size: 14px;
    }

    input {
        display: block;
        height: 2.75rem;
    }

    textarea {   
        height: 160px;
    }

    input, textarea {
        width: 100%;
        margin-top: 8px;
        border: 1px solid variables.$gray-400;
        border-radius: 4px;
        font-size: 1rem;
        padding: 4px;

        &:hover {
            border: 1px solid #9e9e9e;
        }

        &:not([type="submit"]):focus {
            border: 1px solid variables.$orange-400;
            outline: none;
        }
    }

    [type="submit"] {
        background-color: variables.$green-400;
        color: #fff;
        border: none;
        font-size: 15px;
        font-weight: 600;

        &:hover {
            background-color: variables.$orange-400;
            border: none;
        }
    }
}

.contacts {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;  


    > * {
        flex: 300px 1 1;
    }
    

    h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    p {
        line-height: 140%;
    }
}

.contactBox {
    border-radius: 8px;
    border: 1px solid rgba(30, 30, 30, 0.1);
    background-color: rgba(245, 243, 243, 0.75);
    padding: 2rem 1.5rem;

    P {
        font-size: 15px;
        line-height: 150%;
    }
}

.contactInfo {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.iconBox {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: variables.$gray-400;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;

    img {
        opacity: .75;
    }
}