@use './variables.scss';

.footer {
    background-color: variables.$gray-600;
    color: #fff;
    line-height: 140%;
    font-size: 14px;

    @media (min-width: 960px) {
        font-size: 16px;
    }

    > * {
        padding-inline: 1rem;

        @media (min-width: 760px) {
            padding-inline: 2rem;
        }

    }
}

.topWrapper {
    background-color: variables.$gray-500;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    padding-block: 3rem;

    > div {
        max-width: 400px;
    }

    > div:last-child {
        display: grid;
        gap: .5rem;

        span {
            font-weight: 500;
            display: block;
            margin-bottom: .25rem;
            color: variables.$green-400
        }
    }
}

.name {
    font-size: 2rem;
    font-weight: 600;
    color: variables.$green-400;
    line-height: 120%;
}

.links {
    display: flex;
    gap: .5rem 1rem;
    flex-wrap: wrap;
    margin-block: 1rem;

    a {
        &:hover {
            color: variables.$orange-400
        }
    }
}

.socials {
    display: flex;
    gap: 1rem;
    
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 1.5rem;
    gap: 1rem;
}

.imgLink {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover {
        background-color: variables.$orange-400;
    }

    img {
        filter: invert(1);
    }
}