.h2 {
    font-size: 2rem;
    position: relative;
    width: fit-content;
    padding-bottom: .25rem;

    @media (max-width: 679px) {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    &:after {
        content: "";
        width: 60%;
        height: 2px;
        background-color: #1BBD36;
        position: absolute;
        left: 0;
        bottom: -8px;
    }
}