@use './variables.scss';

.constraint_I {
    width: min(100%, 1200px);
    margin-inline: auto;
  }

.header {
    display: grid;
    align-items: end;
    padding: 4rem 2rem;
    height: 640px;
    color: #fff;
    position: relative;
    width: 100%;
    overflow: hidden;

    @media (min-width: 480px) {
        min-height: 100vh;
    }

    h1 {
        text-wrap: balance;
        font-size: clamp(2rem, 1.8182rem + 0.9091vw, 2.5rem);
    }
}

.subheading {
    line-height: 140%;
    font-size: clamp(1rem, 0.9636rem + 0.1818vw, 1.1rem);
}

.background {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;
}

.main_content {
    display: grid;
    gap: 1rem;
    padding-bottom: 5rem;

    @media (min-height: 800px) {
        padding-bottom: 8rem;
    }

    a {
        width: fit-content;
    }
}

.main_content {
    max-width: 640px;
}


/* Hero Controls*/

.progressBars {
    padding-block: .5rem;
    display: flex;
    gap: .5rem;
    flex-grow: 1;
    align-items: center; 
}

.progressBar {
    background-color: variables.$gray-400;
    height: 3px;
    border-radius: 8px;
    flex-grow: 1;
    cursor: pointer;

    &:hover {
        background-color: variables.$orange-400;
    }
}

.active {
    background-color: variables.$green-400;
}