@use './variables.scss';

.headWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 3rem;
}

.h2 {
    color: variables.$green-500;
    margin-bottom: 1rem;
    font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
}

.subheading {
    font-size: clamp(1rem, 0.9091rem + 0.4545vw, 1.25rem);
}