@use './variables.scss';


.sectionWrapper {
    background-color: variables.$gray-300;
    padding-block: 5rem;
}

.servicesCards {
    display: grid;
    gap: 1.5rem;
    padding-block: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}