@use './variables.scss';

.teamCards {
    display: grid;
    gap: 1.5rem;
    padding-block: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @media (max-width: 727px) {
        max-width: 560px;
        margin-inline: auto;
    }

    @media (max-width: 504px) {
        max-width: 360px;
    }
}